@media screen and (max-width: 1200px) {
  .buy-btn {
    margin-right: 0 auto !important;
  }
}

.header {
  background-color: #fff;
  border-bottom: 1px solid rgba(237, 242, 247, 0.7);
}

.brand {
  width: 145px;
  height: 50px;
}

.brand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navigation a.nav-link {
  color: #2d3748 !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 1rem !important;
  padding: 12px 15px !important;
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.navigation a.nav-link:hover {
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 1rem !important;
  color: #1a202c !important;
  transform: translateX(1px) !important;
}

.btn.focus,
.btn:focus,
.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.show > .btn.dropdown-toggle:focus {
  outline: none;
  box-shadow: none;
}

.buy-btn {
  background: #d69e2e;
  color: white;
  border-radius: 5px !important;
  width: max-content;
  padding: 7px 15px 5px;
  margin-right: 5px;
  font-size: 15px;
  font-weight: 600;

  text-rendering: geometricPrecision;
  /* background-color: transparent !important; */

  outline: none !important;
}

.buy-btn:hover,
.buy-btn:active,
.buy-btn:focus {
  color: #fff !important;
  background-color: #b7791f !important;
}

.buy-btn span {
  font-size: 1px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #52cc99;
  color: #fff;
  padding: 2px 5px 0px 5px;

  display: inline-block;
  margin-left: 5px;
  margin-bottom: 2px;
  border: 0;
  border-radius: 4px;
}
